body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f5f6ff;
}

/*gggggggggggggggg*/
/* Alerts UI */

.alerts-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.alert-card {
    background: white;
    padding: 15px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    transition: transform 0.2s;
}

.alert-card:hover {
    transform: translateY(-2px);
}

/* Icon circle */
.alert-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* Text */
.alert-text strong {
    display: block;
    font-size: 15px;
}

.alert-text span {
    font-size: 12px;
    color: #888;
}

/* Color types */
.alert-card.danger .alert-icon {
    background: #ffe5e5;
}

.alert-card.warning .alert-icon {
    background: #fff4d6;
}

.alert-card.success .alert-icon {
    background: #e5ffe9;
}

/*gggggggggggggggg*/


/* Layout Wrapper */
.app {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 20px;
}

.logo {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    font-size: 15px;
    transition: background 0.3s;
}

.menu a:hover {
    background: rgba(255,255,255,0.15);
}

.menu a.active {
    background: rgba(255,255,255,0.25);
}

/* Content Area */
.content {
    margin-left: 240px;
    padding: 30px;
    flex: 1;
}

/* Responsive */
@media(max-width: 900px){
    .sidebar {
        display: none;
    }
    .content {
        margin-left: 0;
    }
}
